DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,10.81.2.81
FILEBOX_STORAGE_ROOT=storage
FILEBOX_MAX_UPLOAD_BYTES=524288000
FILEBOX_DEFAULT_QUOTA_BYTES=10737418240
FILEBOX_MAX_FILE_VERSIONS=20
FILEBOX_TRASH_RETENTION_DAYS=30
FILEBOX_UPLOAD_REQUESTS_ENABLED=True
FILEBOX_MAX_REQUEST_DAYS=30
